{% extends 'base/main.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}

    <hr>
    <h1>My ToDo list</h1>
    <a href="{% url 'task-create' %}">Add Task</a>

    <form method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search">
    </form>

    <table>
    <tr>
        <th>Item</th>
        <th>Link</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
    </table>
{% endblock content %}

